@{
    Layout = ViewData["Layout"]?.ToString() ?? "_Layout";
    ViewData["Title"] = "ChangePassowrd Page";
}
@model ProfileViewModel
<div>
    <div class="border admin-informaion">
        <div class="border admin-informaion-header">
            <p>Change User Password </p>
        </div>
        <form asp-controller="Profile" asp-action="ChangePassword" method="get">
            <table class="table">
                <tr>
                    <th>@Model.Error</th>
                </tr>
                <tr>
                    <th>Old Password </th>
                    <th>
                        <input asp-for="OldPassword" type="text" class="form-control" placeholder="write Login" />
                    </th>
                </tr>
                <tr>
                    <th>New Password</th>
                    <th>
                        <input asp-for="Password" type="password" class="form-control" placeholder="write password" />
                    </th>
                </tr>
            </table>
            <br />
            <button class="btn button button-size" >Змінити пароль</button>
        </form>
        @using (Html.BeginForm("index", "Profile", FormMethod.Post))
        {
            <button class="btn button button-size">Повернутися назад</button>
        }
    </div>
</div>
