<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShopProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShopProject.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenUser" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IpRouter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsValidUpdateProduct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsValidFormationProduct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusWorkShift" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusWorkShiftTime" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterSticker" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionID" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusDevise" serializeAs="String">
                <value />
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>False</value>
            </setting>
        </ShopProject.Properties.Settings>
    </userSettings>
</configuration>