.admin-informaion
{
    display:block;
    margin-top:10px;
    margin-left:160px;
    margin-right:10px;
    padding:15px;    
    border-radius:5px;
}
.admin-informaion-header{
    padding:10px;
    height:50px;
    border-radius:5px;
}
.admin-info {
    padding: 15px;
    max-width: 500px;
}

.admin-info-header {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 18px;
}
.error{
    background:red;
}
 