@{
    ViewData["Title"] = "Authorization Page";
}
@model ShopProjectWebServer.Models.UI.AuthorizationModel;

<div class="container-main- AuthorizationView">
    <div class="Authorization box-shadow">
        <p name="messege" id="error-create-datadase" class="error-dataBase">@Model.Message</p>
        <form asp-controller="Authorization" asp-action="Authorization">
            <h2>Login</h2>
            <input class="AuthorizationView-input" asp-for="Login" type="text" />
            <h2>Password</h2>
            <input class="AuthorizationView-input" asp-for="Password" type="password" />
            <br />
            <br />
            <button class="btn button button-size" type="submit">Авторизуватися</button>
        </form>
        <br />
        @using (Html.BeginForm("RedirectToResetPassword", "Authorization", FormMethod.Post))
        {
            <button class="btn button button-size">Відновити пароль</button>
        }
    </div>
</div>