@{
    ViewData["Title"] = "ResetPassword Page";
}

<div class="container-main- AuthorizationView">
    <div class="Authorization box-shadow">
        <p name="messege"></p>
        <form asp-controller="Authorization" asp-action="RedirectToUpdatePassword">
            <h2>Email</h2>
            <input class="AuthorizationView-input" type="text" />
            <br />
            <button class="AuthorizationView-button" type="submit">Відновити пароль</button>
        </form>
    </div>
</div>