@{
    ViewData["Title"] = "UpdatePassword Page";
}
<div class="container-main- AuthorizationView">
    <div class="Authorization box-shadow">
        <p name="messege"></p>
        <form asp-controller="Authorization" asp-action="RedirectToAuthorization">
            <h2>Code From Email</h2>
            <input class="AuthorizationView-input" type="text" />
            <h2>New Password</h2>
            <input class="AuthorizationView-input" type="text" />
            <br />
            <button class="AuthorizationView-button" type="submit">Оновити пароль</button>
        </form>
    </div>
</div>