<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewData["Title"] - ShopProjectWebServer</title>
    
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/ShopProjectWebServer.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/StartView.css"/>
        <link rel="stylesheet" href="~/css/AuthorizationView.css" />
    </head>
    <body>
        <div class="container-main">
    
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </body>
    <foter>

    </foter>
    <script src="~/js/StartView.js" asp-append-version="true"></script>
</html>
